[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.*"
django-storages = {extras = ["boto3"], version = "*"}
django-admin-interface = "*"
whitenoise = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.11"
