# ------------
# GENERAL
# ------------
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ------------
# DATABASE
# ------------
DATABASE_URL=sqlite:///db.sqlite3
#DATABASE_URL=postgres://user:password@host:port/dbname

# ------------
# STORAGE
# ------------
IS_S3=False
ACCESS_KEY=123456
SECRET_KEY=123456
BUCKET_NAME=dataweb
