[Unit]
Description=gunicorn daemon
Requires=gunicorn_koderstory.com.socket
After=network.target

[Service]
User=dev
Group=www-data
WorkingDirectory=/srv/koderstory.com
ExecStart=/srv/koderstory.com/.venv/bin/gunicorn           --access-logfile -           --workers 3           --bind unix:/run/gunicorn_koderstory.com.sock           config.wsgi:application

[Install]
WantedBy=multi-user.target
